* {
    box-sizing: border-box;
}

body {
    margin: 0;

    padding: 30px;

    font-family: Arial, sans-serif;

    background: #836FFF;
}

h1 {
    text-align: center;

    color: white;
}

#mensagem {
    text-align: center;

    margin: 20px;

    color: white;
}

/* Grade */
#usuarios {
    max-width: 1100px;

    margin: auto;

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 20px;
}


/* Cartão */
.card {
    padding: 20px;

    background: white;

    border-radius: 15px;

    border-left: 6px solid #4876FF;
}

.card h2 {
    color: #836FFF;
}

.card p {
    margin: 8px 0;
}


/* Tablet */
@media (max-width: 800px) {

    #usuarios {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* Celular */
@media (max-width: 500px) {

    #usuarios {
        grid-template-columns: 1fr;
    }
}